<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <ul id="navigate">
<li><a href="{% url 'logout' %}">Logout</a></li>
<li><a href="{% url 'search' %}">Tìm kiếm</a></li>
</ul>
    <form method="POST" action="">
        <h3>Cập nhật hàng hóa</h3>
        {% csrf_token %}
        <div>
        <label for="tenhang">Tên hàng</label>
        {{form.tenhang}}
    </div>
        <div>
        <label for="dvt">Đơn vị tính</label>
        {{form.dvt}}
        </div>
        <div>
        <label for="soluong">Số lượng</label>
        {{form.soluong}}
        </div>
        <div>
        <label for="dongia">Đơn giá</label>
        {{form.dongia}}
        <div>
        <button type="submit">Cập nhật</button>
        </div>
        </div>
    </form>
    {% if members.count == 0 %}
    <h2>Chưa có sinh viên để hiển thị ra bảng</h2>
    {% else %}
    <table>
        <thead>
        <tr>
        <th></th>
        <th>Tên hàng</th>
        <th>ID</th>
        <th>ĐVT</th>
        <th>Số lượng</th>
        <th>Đơn giá</th>
        <th></th>
        </tr>
        </thead>
        <tbody>
    {% for member in members %}
        <tr>
            <td><a href="{% url 'update' member.id %}">Sửa</a></td>
            <td>{{member.tenhang}}</td>
            <td>00{{member.id}}</td>
            <td>{{member.dvt}}</td>
            <td>{{member.soluong}}</td>
            <td>{{member.dongia}}</td>
            <td><a href="{% url 'delete' member.id %}">Xóa</a></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>
</html>